<img src="<%= @movie.image_url %>" alt="<%= @movie.title %>">
<br><br>

<form action="/comments" method="post">
  <label for="comments"><strong>Comments:</strong></label><br>
  <textarea rows="4" cols="50" name="comments" value=""></textarea>
  <br><br>

  <label for="liked"><strong>How did you enjoy it overall?</strong></label><br>
  <input type="radio" name="opinion" value="Liked" id="liked">
  <label for="liked">Liked</label><br>
  <input type="radio" name="opinion" value="Disliked" id= "disliked">
  <label for="disliked">Disliked</label><br><br>

  <input type="submit" name="<%= @movie.id %>" value="Post Comments">

</form>
