<h3>Add New Movie!</h3>

<form action="/movies/new" method="post">
  <label for="movie_link">Enter IMDB Movie Page Link Here:</label>
  <input type="text" rows="4" cols="50" name="link">

  <input type="submit" name="" value="Add Movie">

</form>
